.contact {
	max-width: 30%;
}

.contact__title {
	@include heading-line;

	margin: 0;	
	margin-bottom: 15px;

	font-size: 21px;
	line-height: 31px;
	font-weight: bold;
	text-transform: uppercase;
}

.contact__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: left;
	
	font-size: 14px;
	line-height: 17px;
}

.contact__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 15px;
}

.contact__header {	
	margin-right: 10px;
	font-weight: bold;
}

.contact__data {
	margin: 0;
}

.contact__call-number {
	&:hover, 
	&:focus {
		color: $light-blue;
		outline: none;
	};
}