.features {
	padding: 80px 0;
}

.features__container {
	@include container;
}

.features__list {
	display: flex;	
}

.features__item {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 15px;
	margin-bottom: 20px;
	padding-top: 120px;
	text-align: center;


	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		
		width: 100px;
		height: 100px;
		margin: 0 auto;

		border-radius: 20px;
		background-color: $dark-gray;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70%;
		transition: background-color 0.3s;
	};

	&--browser::before{
		background-image: url("../img/browser.svg");
	};

	&--computer::before {
		background-image: url("../img/computer.svg");
	};

	&--gears::before {
		background-image: url("../img/gears.svg");
	};

	&:hover,
	&:focus {
		outline: none;	
		
		&::before {
			background-color: $light-blue;
		};

		.features__title {		
			color: $light-blue;
		}
	}
}

.features__title {
	margin: 0;
	margin-bottom: 10px;

	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #012B30;
}

.features__text {
	margin: 0;
	margin-top: auto;
	color: $light-gray;
}

@media (max-width: $mobile-width) {
	.features {
		padding: 3	0px 0;
	}

	.features__list {
		display: block;
	}

	.features__item {		
		padding-top: 0;
		font-size: 16px;		

		&::before {
			content: none;
		};
	}
}