.header {
	color: #fff;
	background-color: $dark-gray;
}

.header__container {
	@include container;
	
	display: flex;
	align-items: center;
}

.header__image {
	vertical-align: middle;
	width: 208px;
	height: 36px;
}

.header__nav {
	margin-left: auto;
}

@media (max-width: $smaller-size) {
	.header__image {
		width: 150px;
		height: 25px;
	}
}