@mixin container {
	max-width: $desktop-width;
	margin: 0 auto;
	padding: 0 20px;
}

@mixin heading-line {
	display: flex;
	align-items: center;

	&::after {
		content: "";		
		display: block;
		margin-left: 10px;
		width: 80px;
		height: 2px;
		background-color: #fff;
	};
	
}
